*{
    margin: 0;
    padding: 0;
    
}
body{

    background-color: #f3f5f7;    
     
}
li{
     list-style: none;    
}
/*-------------- 清除浮动 */
.clearfix:before,
.clearfix:after{
    content: "";
    display: table;
}
.clearfix:after{
    clear: both;
}
.clearfix{
    *zoom:1;
}
/* 清除浮动 -----------*/
.xx{
    
    width: 1200px;
    margin: auto;
}
    
    .header{

       
        height: 42px;
        
        margin: 30px auto;
    }
.logo img{

    width: 100px;
    height: 42px;
    margin-right: 60px;
    border-radius: 40%;
}
.logo{

    float: left;  
    
}
.nav{

    float: left;
    
    
}
.nav ul li{

    float: left;
   
    
}
.nav ul li a{

    text-decoration: none;
    display: block;
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    color: #050505;
    font-size: 18px;
    margin-right: 20px;


}
.nav ul li a:hover{

    border-bottom: 2px solid rgb(97, 156, 229);
    
}
.search{

    float: left;
    margin-left: 70px;
    
}
.search input{
    float: left;
    width: 340px;
    height: 40px;
    border: 1px solid #00a4ff;
    padding-left: 10px;
    color: #ccc;
    
}
.search button{
   float: left;
    width: 40px;
    height: 42px;
       
}
.user{

    float: left;
    margin-left: 200px;
    line-height: 42px;

    font-size: 14px;
    color: #666;

}
.user img{
    border: #ccc;
    border-radius: 50%;
    float: left;
    height: 32px;
    width: 32px;
    margin-top: 6px;
}

.banner{
   
    
    height: 420px;
    background:  #f3f5f7 url(images/131.jpg) no-repeat  top center;
}

.bLeft{
    float: left;
    /* margin-left: 180px; */
    width: 150px;
    height: 420px;
    background-color: rgba(0,0,0,0.1);
    padding: 0 20px;
}
.bLeft ul li a span{

    float: right;
}
.bLeft ul li{

    height: 45px;
    line-height: 45px;
}
.bLeft ul li a{
    color: #f1f9fa;
    font-size: 14px;
    text-decoration: none;
}
.bLeft ul li a:hover{
    color: #00a4ff;

}
.bRight{

    float: right;
    height: 300px;
    width: 228px;
    /* background-color: rgb(247, 29, 178); */
    margin-top: 50px;
    margin-right: 50px;
    /* margin-right: 200px; */
}
.top{
    height: 48px;
    background-color: #70c4f1;
    line-height: 48px;
    font-size: 18px;
    color: #f1f9fa;
    text-align: center;
    font-weight: 600;

}
.down{
   
    padding: 0 15px;
    background-color: #f1f9fa;
    height: 252px;
   
}

.down ul{
    padding-top: 10px;
}
.down ul li{
        height: 49px;
        border-bottom: 1px solid darkgrey;
        margin-top: 10px;
        
       
}
.down li h4{

    font-size: 14px;
    color: #4e4e4e;

}
.down li p{
    font-size: 12px;
    color: #a5a5a5;
}
.down a{

    display: block;
    text-decoration: none;
    height: 38px;
    border: 1px solid black;
    margin-top: 10px;
    text-align: center;
    line-height: 38px;
    color: #00a4ff;
}

.down a:hover{

    background-color: #00a4ff;
    color: #050505;

}

.goods{
height: 60px;
background-color: #fff;
margin-top: 10px;
box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
line-height: 60px;

}
.goods h3{
    font-size: 16px;
    color: #00a4ff;
    margin: 0 30px;
    float: left;
}

.goods-items{

    float: left;
    color: rgb(182, 182, 182);
}

.goods-items a {

    font-size: 16px;
    color: #050505;
    margin: 0 25px;
    text-decoration: none;
}

.go-three{
    float: right;
    margin-right: 45px;
    font-size: 14px;
    color: #050505;
}

.box{

    margin-top: 15px;
    
    
}
.box-hd{

    height: 60px;
    line-height: 60px;
    
}

.box-hd h3{
    float: left;
    font-size: 20px;
    color: #494949;
    font-weight: 400;
    margin-left: 20px;
}
.box-hd a{

    float: right;
    margin-right: 40px;
    font-size: 14px;
    color: #a5a5a5;
    
}
.box-bd{

width: 1215px;


}

.box-bd li{
    float: left;
    width: 228px;
    height: 270px;
    margin-right: 15px;
    margin-top: 15px;
    background-color: rgb(85, 182, 193);
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    border-radius: 5%;
}

.box-bd li img{
    margin-top: 20px;
    margin-left: 6px;
    width: 95%;
    border-radius: 15px;
    

}

.box-bd li h4{

        margin: 25px 20px;
        font-size: 16px;
        color: 050505;
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;

}
.box-bd li P{

    margin: 0 20px;
    font-size: 14px;
    color: rgb(7, 7, 163);
    font-family: Arial, Helvetica, sans-serif;

}

.test{

background-color: #c2fe9d;
border: 1px solid black;
border-radius: 5px;

}

.footer{
    
    height: 300px;
    padding-top: 50px;
    
   
}
.f-left{
    float: left;
    
}
.footer img{
    margin-left: 50px;
    margin-bottom: 10px;
    width: 80px;
    height: 60px;
}
.footer p{
    font-size: 16px;
    color: #666;
    margin: 20px 15px;
}
.app{

    display: block;
    width: 118px;
    height: 34px;
    border: 1px solid #000000;
    text-align: center;
    line-height: 34px;
    font-size: 16px;
    color: rgb(255, 0, 0);
    margin-left: 30px;
}
.f-right{

    float: right;

}

.f-right dl{
    float: left;
    margin-left: 100px;
    margin-right: 20px;
    
}

.f-right dt{
    height: 40px;
    font-size: 18px;
    color: #333;
   
}
.f-right dt a{
    text-decoration: none;
}
.f-right dd a{

    font-size: 14px;
    color: #333;
    text-decoration: none;
    

}
.f-right dd a:hover{

        color: #00a4ff;
}